 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px ;
 }
 footer,header{
    background-color: cornflowerblue;
 }
 .site-title{
    color: blueviolet;
 }
 #my-image{
    box-shadow: 0 12px 2px 1px ; }
 ul{
    list-style-type: square;
 }
 li:nth-child(odd)
 {
    background-color: chocolate;
 }
a{
    border-style: dotted;
}
a:hover {
    color: pink;
  }